Package: com.dumpapp.wechat-rootless
Name: 锤子助手-Rootless
Depends: mobilesubstrate, firmware (>= 12.0)
Description: 锤子助手插件
Maintainer: WeChat
Author: DumpApp
Section: 微信增强
Architecture: iphoneos-arm64
SileoDepiction: https://JianLai28.github.io/repo/depictions/native/com.dumpapp.wechat/depiction.json
Version: 2.0.1
Installed-Size: 24000
